{% extends 'layout.twig' %}

{% block content %}

    <h1>Welcome to Emagia!</h1>

    <p>Orderus is waiting to enter arena.</p>

    <hr/>

    <p>To begin the game open your console and type following command </p>

    <div class="card-panel grey darken-3" style="color: white">
        <pre><code>php console.php game:start</code></pre>
    </div>

    <p>To run unit testing, use following command </p>

    <div class="card-panel grey darken-3" style="color: white">
        <pre><code>./vendor/bin/phpunit tests</code></pre>
    </div>

{% endblock %}
